.pic1{
    background-image: url(ipad\ pro2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width:100%;
    margin-left: 100px;
}
.pic2{
    background-image: url(ipad\ air2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width:100%;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 50px;
}
.pic3{
    background-image: url(normal-ipad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 50px;
}
.pic4{
    background-image: url(ipad\ mini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 200px;
}

.card{
    background-color: rgb(248, 248, 255);
    
}
.card:hover{
    background-color: rgb(211, 205, 205);
}
.c1{
    margin-top: 400px;
}
.c2{
    margin-left: 80px;
    margin-top: 400px;
}
.c3{
    margin-left:-50px;
    margin-top: -400px;
}
.c4{
    margin-left: -150px;
    margin-top: 500px;
}
.box{
    width: 400px;
    height: 200px;;
    background-color:white;
}
a{
    text-decoration: none;
    color: black;
}
